<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ch.blinkenlights.android.ntyfr"
      android:versionCode="1341159699"
      android:versionName="1.01">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
    <application android:label="@string/app_name"
                 android:icon="@drawable/icon" >

      <activity android:name=".NewNoteDialog" android:label="@string/app_action" android:theme="@android:style/Theme.Dialog">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>


        <activity android:name=".IconPicker"
                android:label="Icon:"
                android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity android:name=".ConfigDialog">
        </activity>

    <receiver
        android:name=".OnBootReceiver"
        android:enabled="true"
        android:exported="false"
        android:label=".OnBootReceiver"
    >

    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

 
 
</application>

<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest> 
